name: Infra Workflow
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Add your infra steps here
      - name: Terraform plan
        run: terraform plan